#gameHolder {
  padding-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  overflow: auto;
}

.gameFull {
  height: 90vh;
  width: auto;
  flex-shrink: 0;
  /* float: right; */
}

.gameFull:hover {
  cursor: pointer;
}

#imgHolder {
  width: 80vw;
  height: 90vh;
  display: flex;
  /* justify-content: center; */
}

@media only screen and (min-width: 1000px) {
  #imgHolder {
    justify-content: center;
  }
}

#finderDiv {
  width: 20vw;
  background-color: #e0e0e0;
  height: 90vh;
  padding-top: 5vh;
  text-align: left;
  overflow: auto;
  min-width: 200px;
}

#finderList {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: large;
  line-height: 1.5;
  list-style: none;
  padding: 0;
}

.searchField {
  border: none;
  min-height: 5vh;
  width: 100%;
  padding-left: 2.5vw;
  background-color: var(--header);
  font-size: 25px;
  border-radius: 10px;
  list-style-type: none;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 150px;
}

.strike {
  text-decoration: line-through;
  color: red;
}

#dropdown {
  background-color: black;
  position: absolute;
  top: 45vh;
  left: 80vw;
  width: 22vw;
  text-align: center;
  border-radius: 10px;
  z-index: 3;
}

.hidden {
  display: none;
}

.dropdownDiv {
  background-color: var(--main);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.dropField {
  line-height: 1.5;
  color: var(--main);
  list-style: none;
  width: 100%;
  font-size: 20px;
  background-color: var(--header);
  margin-top: 5px;
}

.dropField:hover {
  background-color: var(--pink-color);
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 10vh;
  width: 100%;
  height: 90vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

#modalPara {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#userNameInput {
  width: 50%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid var(--main);
  margin-bottom: 2vh;
}

#userNameInput:hover {
  transform: scale(1.05);
}

.linkSub {
  text-decoration: none;
  color: white;
}

.gameBtnSetUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.btnSize {
  width: 90px;
  border-radius: 5px;
  border: 1px solid var(--main);
  font-size: 15px;
}

.btnSize:hover {
  transform: scale(1.05);
}

.exitBtnColor {
  background-color: var(--pink-color);
}

.subBtnColor {
  background-color: var(--main);
}

#dropDownExitBtn {
  background-color: red;
  color: white;
  font-weight: bolder;
  position: absolute;
  top: 5px;
  left: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#dropDownExitBtn:hover {
  background-color: white;
  color: red;
}

ul {
  padding-left: 2vw;
}
