#gameHolder {
  padding-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.gameFull {
  /* max-width: 80%;
  max-height: 90vh; */
  height: 90vh;
}

#finderDiv {
  position: fixed;
  left: 0;
  top: 10vh;
  width: 20vw;
  background-color: #e0e0e0;
  height: 90vh;
  margin-right: 2vw;
  padding-top: 3vh;
}

.finderList {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: large;
  line-height: 1.5;
  list-style: none;
  padding: 0;
}

.strike {
  text-decoration: line-through;
  color: red;
}

.searchField {
  border: none;
  height: 5vh;
  width: 80%;
  background-color: var(--header);
  font-size: 25px;
  border-radius: 10px;
  list-style-type: none;
}
