.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* text-overflow: auto; */
}

.linkHead {
  color: var(--header);
  text-decoration: none;
}

.linkHead:hover {
  color: var(--pink-color);
}
