.rulesList {
  border: 3px solid red;
  list-style: none;
  margin-bottom: 2vh;
}

.moveDown {
  margin-top: 2vh;
}

.rulesRight {
  border-color: blue;
}

.rulesBottom {
  border-color: green;
}

.rulesDiv {
  font-size: larger;
  padding: 5px;
}

.rulesWayBottom {
  border-color: yellow;
}
